@import "./variable";
@import "./mixins";

.projects_section{
    background-color: #1B273D;
    position: relative;
	z-index: 9;
    &::after{
		content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130px;
        background-color: #1B273D;
        webkit-mask-image: url("../images/project_mask.svg");
        -webkit-mask-image: url(../images/project_mask.svg);
        mask-image: url(../images/project_mask.svg);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: bottom;
        mask-position: bottom;
        z-index: 9;
	}

}
.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    .project-header-content{
        h2{
            margin-bottom:5px;
        }
        p{
            margin-bottom: 0;
            color: #fff;
            font-weight: 100;
        }
    }
}