.intro-vision{
	background: #1B273D;
	padding: 100px 0;
	position: relative;
	min-height: 100vh;
	z-index:999;
	@include max(1060) {
		padding: 120px 0;
		min-height: auto;
	}
	@include max(992) {
		padding: 80px 0;
	}
	@include max(767) {
		padding: 50px 0 20px 0;
	}
	.intro_video_mask{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		// Below 1060px we don't need full viewport height; keep mask aligned roughly to video height
		@include max(1060) {
			display: none;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
.intro_video_container{
	position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: auto;
    webkit-mask-image: url("../images/video_img_mask.svg");
    -webkit-mask-image: url(../images/video_img_mask.svg);
    mask-image: url(../images/video_img_mask.svg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: top;
    mask-position: top;
	video{
		width: 100%;
		height: 635px;
		object-fit: cover;
		overflow: hidden;
		position: relative;
		z-index: 1;
		transition: all 0.3s ease-in-out;
		// Below 1060px: reduce video height so section isn't effectively full-height

	}
	.intro_video_content{
		position: absolute;
		top: 130%;
		transform: translateY(-50%);
		left: 0;
		z-index: 9;
		right: 0;
		margin: 0 auto;
		text-align: center;
		// Tweak position / spacing on tablets & mobile so content sits more neatly in view
		@include max(1060) {
			top: 50%;
			padding: 0 16px;
		}
		@include max(767) {
			top: 15px;
			transform: initial;
		}
		p{
			color: #fff;
			font-size: size(18px);
			line-height: size(24px);
			margin: 55px 0 0 0;
			font-weight: 100;
			@include max(1500) {
				margin: 40px 0 0 0;
			}
			@include max(1060) {
				font-size: size(16px);
				line-height: size(22px);
				margin: 45px 0 0 0;
			}
			@include max(767) {
				font-size: 13px;
				line-height: 1.2;
				margin: 10px 0 0 0;
			}
		}
	}
	.intro_pic img{
		margin: 0 auto;
		@include max(992) {
			width: 20%;
		}
	}
	h3{
		color: #fff;
		font-size: size(30px);
		line-height: size(36px);
		text-transform: uppercase;
		margin: 0 0 20px 0;
		@include max(1500) {
			font-size: size(25px);
			line-height: size(25px);
			margin: 0 0 10px 0;
		}
		@include max(1060) {
			font-size: size(20px);
			line-height: size(24px);
			margin: 0 0 8px 0;
		}
		@include max(767) {
			font-size:14px;
			line-height: 20px;
			margin: 0 0 5px 0;
		}
	}
	h2{
		color: #fff;
		font-size: size(120px);
		line-height: size(125px);
		text-transform: uppercase;
		margin: 0 0 20px 0;
		@include max(1500) {
			font-size: size(100px);
		}
		@include max(1060) {
			font-size: size(60px);
			line-height: size(64px);
			margin: 0 0 12px 0;
		}
		@include max(992) {
			font-size: size(45px);
			line-height: size(48px);
			margin: 0 0 8px 0;
		}
	}
	
	// Below 1060px: remove sticky/masked effect and show text as default (stacked layout)
	@include max(1060) {
	    height: 440px;
		video{
			height: auto;
		}
	}
	@include max(992) {
		height: 330px;
	}
	@include max(767) {
		height: auto;
	}
}