.intro-vision{
	background: #1B273D;
	padding: 100px 0;
	position: relative;
	min-height: 100vh;
	z-index:999;
	.intro_video_mask{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
.intro_video_container{
	position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: auto;
    webkit-mask-image: url("../images/video_img_mask.svg");
    -webkit-mask-image: url(../images/video_img_mask.svg);
    mask-image: url(../images/video_img_mask.svg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: top;
    mask-position: top;
	video{
		width: 100%;
		height: 635px;
		object-fit: cover;
		overflow: hidden;
		position: relative;
		z-index: 1;
		transition: all 0.3s ease-in-out;
	}
	.intro_video_content{
		position: absolute;
		top: 130%;
		transform: translateY(-50%);
		left: 0;
		z-index: 9;
		right: 0;
		margin: 0 auto;
		text-align: center;
		p{
			color: #fff;
			font-size: size(18px);
			line-height: size(24px);
			margin: 55px 0 0 0;
			font-weight: 100;
		}
	}
	.intro_pic img{
		margin: 0 auto;
	}
	h3{
		color: #fff;
		font-size: size(30px);
		line-height: size(36px);
		text-transform: uppercase;
		margin: 0 0 20px 0;
	}
	h2{
		color: #fff;
		font-size: size(120px);
		line-height: size(125px);
		text-transform: uppercase;
		margin: 0 0 20px 0;
	}
	
}