// Overview Section Styles
@import "./variable";
@import "./mixins";

.light-blue-list-section {
	width: 100%;
	margin-top: -20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
	padding: 100px 0 120px 0;
	background-color: #96B7E3;
	-webkit-mask-image: linear-gradient(#000, #000), url(../images/sectors_top_right_hole.svg);
    mask-image: linear-gradient(#000, #000), url(../images/sectors_top_right_hole.svg);
    -webkit-mask-size: 100% 100%, 130px 109px;
    mask-size: 100% 100%, 130px 109px;
    -webkit-mask-position: 0 0, 100% 0;
    mask-position: 0 0, 100% 0;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	@include max(1060) {
		padding: 75px 0;
	}
	@include max(992) {
		padding:50px 0 80px 0;
	}
	@include max(767) {
		padding: 50px 0;
		mask-size: 100% 100%, 63px 53px;
	}
	.light-blue-list-inner-bg{		
		position: absolute;
		bottom:-135px;
		right: 0;
		z-index: 0;
		@include max(1060) {
			width: 40%;
		}
	}


	&.sustainability_orange_bg{
		background-color: #F47C48;
		margin-top: -106px;
		z-index: 9;
		&::after{
           background-color: #F47C48;
		}

		&::before{
			background-color: #F47C48;
		}

		.light-blue-list-inner{
			background-color: #F47C48;
		}
		h2{
			color: #fff !important;
		}
			&::after{
			background-color: #96b7e3;
			-webkit-mask-image: url(../images/bottom_mask.svg);
			mask-image: url(../images/bottom_mask.svg);
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-size: 100%;
			mask-size: 100%;
			background-image: none;
			height: 138px;
			@include max(1060) {
				height: 102px;
			}
			@include max(992) {
				height: 73px;
			}
			@include max(767) {
				height: 60px;
			}

	}

	.light-blue-list-item{
		  &::before{
			background-color: #F47C48 !important;
		  }
	}
		    
	}

// &::before {
// 		content: "";
// 		position: absolute;
// 		top: -2px;
//     	right: -1px;
// 		width: 128px;
// 		height: 111px;
// 		background-image: url(../images/top_mask.svg);
// 		background-size: 100% 100%;
// 		background-repeat: no-repeat;
// 		background-position: top right;
// 		z-index: 3;

// 		@media screen and (max-width: 1440px) {
// 			width: 100px;
// 			height: 88px;
// 		}

// 		@media screen and (max-width: 768px) {
// 			width: 70px;
// 			height: 60px;
// 		}

// 		@media screen and (max-width: 500px) {
//             width: 55px;
//         	height: 45px;
// 		}
// 	}
	&::after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 140px;
		height: 187px;
		background-image: url(../images/bottom_mask.svg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: bottom left;
		z-index: 3;

		@media screen and (max-width: 1440px) {
			width: 100px;
			height: 88px;
		}

		@media screen and (max-width: 992px) {
			width: 70px;
			height: 60px;
		}

		@media screen and (max-width: 500px) {
           width: 55px;
           height: 45px;
		}
	}

.light-blue-list-inner{
	   width: 100%;
	   height: auto;
	   min-height: 600px;
	   background-color: #96B7E3;
	   position: relative;
	   z-index: 2;

	   p{
		   font-weight: 200;
		   color: #1B273D;
		   margin-bottom: 10px;
		   b{
			   font-weight: bold;
		   }
	   }

	   h2{
		color: #1B273D;
		margin-bottom: 10px;
	   }
}

.light-blue-list{
	   width: 100%;
	   margin-top: 20px;
}

.light-blue-list ul{
	    display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 35px;
		padding: 0;
		
		@include max(1060) {
			grid-template-columns: repeat(2, 1fr);
			gap: 25px;
		}
		@include max(767) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;

			
		}

		@include max(480) {
			grid-template-columns: repeat(1, 1fr);
			gap: 15px;

		}
		li{
			   width: 100%;
			   border-radius: 20px;
			   position: relative;

			 

			   &:hover{

				&::after{
					background-color: #1B273E;

				}
				.light-blue-list-item{
                   background-color: #1B273E;
				   h3{
					color: #fff;
				   }
				   p{
					color: #fff;
				   }
				}
			   }

			  
			   .light-blue-list-item{
				min-height: 235px;
				padding: 50px 70px 50px 30px;
				border-radius: 20px;
				border-bottom-right-radius: 0;
			      background-color: #fff;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
				mask-position: bottom;
				-webkit-mask-position: bottom;
				position: relative;
				z-index: 2;
				transition: all 0.3s ease;

				 @media #{$media-1024}{
					border-radius: 10px;
				   border-bottom-right-radius: 0;
				 }

			    &::before{
           		content: "";
				position: absolute;
				bottom: 4px;
				right: -7px;
				width: 84px;
				height: 76px;
				background-color: #96B7E3;
				mask-image: url(../images/top_mask.svg);
				-webkit-mask-image: url(../images/top_mask.svg);
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: 100% 100%;
				mask-size: 100% 100%;
				z-index: 3;
				transform: rotate(90deg);

	  @media #{$media-1024}{ 
		width: 53px;
        height: 45px;
        bottom: 3px;
        right: -6px;
			
	  }

	  @media #{$media-768}{
         width: 40px;
        height: 40px;
        bottom: -1px;
        right: -4px;

	  }
	}
				@include max(1060) {
					padding: 30px;
					min-height: 190px;
				}
				@include max(992) {
					min-height: 208px;
				}
				@include max(767) {
					padding: 20px;
				}

		 .light-blue-list_icon{
			    width: 100%;
				height: 40px;
				margin-bottom: 20px;

				  img{
					   max-width: 100%;
					   max-height: 100%;
				  }
		 }

		      h3{
				color: #1B273D;
				font-size: 22px;
				font-weight: 400;
				line-height: 1.2;
				margin-bottom: 10px;
				transition: all 0.3s ease;

				 @media #{$media-1024}{
                    font-size: 20px;
				 }

				 @include max(992) {
                    font-size: 18px;
				 }
				 @include max(767) {
                    font-size: 16px;
				 }
			  }
			  p{
				color: #1B273D;
				transition: all 0.3s ease;
				min-height: 60px;
				margin-bottom: 0;
			  }
		   }
		}
}

 }

	
 
