// Overview Section Styles
@import "./variable";
@import "./mixins";

.light-blue-list-section {
	width: 100%;
	margin-top: -130px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
	padding: 130px 0;


	&::after{
		content: "";
		width: 100%;
		height: 180px;
		position: absolute;
		right: 0;
		top: 0;
		mask-image: url(../images/light-blue-top.svg);
		-webkit-mask-image: url(../images/light-blue-top.svg);
		mask-size: 100% auto;
		background-color: #96B7E3;
		-webkit-mask-size: 100% auto;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: top;
		-webkit-mask-position: top;
		z-index: 1;
	}


	&::before{
		content: "";
		width: 100%;
		height: 180px;
		position: absolute;
		right: 0;
		bottom: 0;
		mask-image: url(../images/light-blue-bottom.svg);
		-webkit-mask-image: url(../images/light-blue-bottom.svg);
		mask-size: 100% auto;
		background-color: #96B7E3;
		-webkit-mask-size: 100% auto;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: bottom;
		-webkit-mask-position: bottom;
		z-index: 1;
	}

.light-blue-list-inner{
	   width: 100%;
	   height: auto;
	   min-height: 600px;
	   background-color: #96B7E3;
	   position: relative;
	   z-index: 2;

	   p{
		   font-weight: 200;
		   color: #1B273D;
		   margin-bottom: 10px;

		   b{
			   font-size: bold;
		   }
	   }

	   h2{
		color: #1B273D;
		margin-bottom: 10px;
	   }
}

.light-blue-list{
	   width: 100%;
	   margin-top: 20px;
}

.light-blue-list ul{
	    display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px 35px;
		padding: 0;
		

		li{
			   width: 100%;
			  
			   
			   border-radius: 20px;
			   position: relative;

			   &::after{
				   content: "";
				   width: 100%;
				   height: 50%;
				   position: absolute;
				   top: 0;
				   left: 0;
				   background-color: #fff;
				   border-radius: 20px;
				   z-index: 1;
				   transition: all 0.3s ease;
			   }

			   &:hover{

				&::after{
					background-color: #1B273E;
				}
				.light-blue-list-item{
                   background-color: #1B273E;
				   h3{
					color: #fff;
				   }
				}
			   }

			  
			   .light-blue-list-item{
				min-height: 230px;
				padding: 50px 80px 50px 30px;
				mask-image: url(../images/white-list-bg.svg);
		 -webkit-mask-image: url(../images/white-list-bg.svg);
		 mask-size: 100% auto;
		 -webkit-mask-size: 100% auto;
		 background-color: #fff;
		 mask-repeat: no-repeat;
		 -webkit-mask-repeat: no-repeat;
		 mask-position: bottom;
		 -webkit-mask-position: bottom;
		 position: relative;
		 z-index: 2;
		 transition: all 0.3s ease;

		 .light-blue-list_icon{
			    width: 100%;
				height: 35px;
				margin-bottom: 20px;

				  img{
					   max-width: 100%;
					   max-height: 100%;
				  }
		 }

		      h3{
				color: #1B273D;
				font-size: 20px;
				font-weight: 400;
				line-height: 1.2;
				margin-bottom: 10px;
				transition: all 0.3s ease;
			  }
			   }
		}
}

 }

	
 
