// Overview Section Styles
@import "./variable";
@import "./mixins";

.news_listing {
	width: 100%;
	padding: 90px 0 230px;
	position: relative;
	overflow: hidden;
    mask-image: url(../images/blue_section.svg);
    -webkit-mask-image: url(../images/blue_section.svg);
    mask-size: 100% auto;
	background-color: #CECECE;
    -webkit-mask-size: 100% auto;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: top;
    -webkit-mask-position: top;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

	
      
	
.news_list_inner{
    width: 100%;
    position: relative;
    z-index: 2;
    .news_filter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

      .news-filter-main{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .news-filter-serch{
                width: 79%;

                .filter-form-control{
                       padding-left: 50px;
                       background-image: url(../images/search.svg);
                       background-repeat: no-repeat;
                       background-position: left 20px center;
                }
            }

            .news-filter-select{
                width: 20%;
            }
                
                .filter-form-control{
                    width: 100%;
                    height: 62px;
                    line-height: 62px;
                    background-color: #fff;
                    color: #344463;
                    border: none;
                    font-size: 15px;
                    border-radius: 5px;
                    padding: 0 20px;

                    &::placeholder{
  color: #344463;
                    }

                    &:focus{
                           outline: none;
                           border: none;
                    }
                }

                // Nice select styling
               
            
      }
     
 }
	
 }

 .news_listing-main{
        width: 100%;
        padding-top: 40px;

        h2{
            font-size: size(44px);
            line-height: size(45px);
            font-weight: 600;
            color: #1B273D;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 0px;
        }

        .news-card-list{
            list-style: none;
            margin: 20px 0 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 35px;

            @media #{$media-1024}{
                grid-template-columns: repeat(2, 1fr);
            }
            @media #{$media-600}{
                grid-template-columns: 1fr;
            }

            > li{
                margin: 0;
                padding: 0;
            }
        }
 }

	
}


.events_listing {
	width: 100%;
	padding: 90px 0 110px;
	position: relative;
	overflow: hidden;
    mask-image: url(../images/blue_section.svg);
    -webkit-mask-image: url(../images/blue_section.svg);
    mask-size: 100% auto;
	background-color: #fff;
    -webkit-mask-size: 100% auto;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: top;
    -webkit-mask-position: top;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-top: -130px;

    h2{
         color: #1B273D;
    }

    .events_listing_wrap{
            width: 100%;
            margin-top: 30px;

            .event-card-list{
                list-style: none;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 35px;

                @media #{$media-1024}{
                    grid-template-columns: repeat(2, 1fr);
                }
                @media #{$media-600}{
                    grid-template-columns: 1fr;
                }

                > li{
                    margin: 0;
                    padding: 0;
                }
            }
    }

}
