// Overview Section Styles
@import "./variable";
@import "./mixins";

.overview-section {
	width: 100%;
	padding: 100px 0;
	position: relative;
	overflow: hidden;
    mask-image: url(../images/blue_section.svg);
    -webkit-mask-image: url(../images/blue_section.svg);
    mask-size: 100% auto;
	background-color: #1B273D;
    -webkit-mask-size: 100% auto;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: top;
    -webkit-mask-position: top;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

	

	.overview-content {
		display: flex;
		align-items: center;
		gap: 60px;

		@media #{$media-1024} {
			gap: 40px;
		}

		@media #{$media-768} {
			flex-direction: column;
			gap: 40px;
		}
	}

	.overview-image {
		flex: 0 0 50%;
		position: relative;
		z-index: 1;

		@media #{$media-768} {
			flex: 1 1 100%;
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 25px;
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
			display: block;
			object-fit: cover;
		}
	}

	.overview-text {
		flex: 0 0 50%;
		color: $white;
		position: relative;
		z-index: 1;

		@media #{$media-768} {
			flex: 1 1 100%;
			width: 100%;
		}
	}

	.overview-title {
		font-family: $proxima-regular, sans-serif;
		font-size: size(48px);
		font-weight: 700;
		line-height: 1.2;
		color: $white;
		margin: 0 0 30px 0;
		letter-spacing: -0.5px;

		@media #{$media-1200} {
			font-size: size(42px);
		}

		@media #{$media-1024} {
			font-size: size(38px);
		}

		@media #{$media-768} {
			font-size: size(36px);
			margin-bottom: 25px;
		}

		@media #{$media-600} {
			font-size: size(32px);
			margin-bottom: 20px;
		}
	}

	

	.overview-paragraph {
		font-family: $proxima-regular, sans-serif;
		font-size: size(18px);
		font-weight: 400;
		line-height: 1.7;
		color: $white;
		margin: 0 0 20px 0;

		&:last-child {
			margin-bottom: 0;
		}

		@media #{$media-1200} {
			font-size: size(17px);
		}

		@media #{$media-768} {
			font-size: size(16px);
			line-height: 1.6;
		}

		@media #{$media-600} {
			font-size: size(15px);
		}
	}

	@media #{$media-768} {
		padding: 60px 0;
	}

	@media #{$media-600} {
		padding: 40px 0;
	}
}
