// Overview Section Styles
@import "./variable";
@import "./mixins";

.social_card_list{
       width: 100%;
       margin-top: 20px;

       ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 35px;

            li{
                  width: 100%;
            }
       }
}