// Overview Section Styles
@import "./variable";
@import "./mixins";

.social_card_list{
       width: 100%;
       margin-top: 20px;

       ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 35px;

            @media #{$media-1024}{ 
 grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            }

             @media #{$media-768}{ 
 grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            }

              @media #{$media-480}{ 
 grid-template-columns: repeat(1, 1fr);
            gap: 15px;
            }

            li{
                  width: 100%;
            }
       }
}