// Main SCSS file
// Note: To import CSS files (not SCSS), use the .css extension:
// @import "path/to/file.css";
// Example: @import "../fonts/stylesheet.css";

@import "fonts";
@import "mixins";
@import "base";
@import "variable";
@import "typography";
@import "common";
@import "header";
@import "banner";
@import "explore-our-world";
@import "projects-slider";
@import "footer";
@import "inner_banner";
@import "overview_section";
@import "light_blue_list";
@import "invest_development";
@import "project_management";
@import "home";
@import "intro-vision";
@import "sustainability-commitment";
@import "our-sectors";
@import "journey-legacy";
@import "latest-news";
@import "cta-banner";
@import "master_planning";
@import "construction_planning";
@import "news_section";
@import "news_card";
@import "event_card";
@import "news_details";
@import "career_card";
@import "careers";
@import "career_life";
@import "career_story";
@import "text_image";
@import "sectors-grid";
@import "career_details";
